<div class="chat-container">
  <ion-item color="medium">
    <ion-icon name="aperture-outline"></ion-icon>
    <ion-label>{{text}}</ion-label>
  </ion-item>
  <ion-item #loading *ngIf="loadingBehaviorSubj | async">
    <ion-spinner></ion-spinner>
  </ion-item>
  <ion-card *ngIf="isCodeDisplayed" color="dark">
    <ion-card-content>
      <ion-item lines="none">
        <ion-text>javascript</ion-text>
        <ion-button color="light" slot="end"> Run
          <ion-icon color="success" size="large" name="caret-forward-outline" slot="end" (click)="execute()"></ion-icon>
        </ion-button>
      </ion-item>
      <div>
        <ngx-monaco-editor class="editor" [options]="editorOptions" [(ngModel)]="code"></ngx-monaco-editor>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-text color="primary" #output>
    <h1>{{result}}</h1>
  </ion-text>
</div>
